*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    height: 106px;
    width: 100%;
    max-width: 1275px;
    background-color: rgb(198,154,57);
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-header{
    margin: auto;
}
.menu-header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 30px;
}
.menu-header a{
    text-decoration: none;
    font-size: 15px;
}
.menu-header >ul >li > a{
    color: white;
}
.menu-header ul li img{
    width: 250px;
    position: relative;
    right: 10px;
    top: -10px;
}
.menu-header .dropdown {
    position: relative;
}
.menu-header ul ul {
    position: absolute;
    display: none;
    margin: 0;
    left: -10px;
    list-style: none;
    background-color: rgb(138,108,28);
    box-shadow: 0 0 1px gray;
    border-radius: 3px;
    width: 138px;
}
.menu-header ul ul a {
    display: block;
    text-decoration: none;
    font-size: 10px;
    color: white;
    line-height: 30px;
    padding: 5 15px;
}
.menu-header ul ul a:hover {
    background-color: orangered;
    color: white;
}
.menu-header>ul>li:hover > ul {
    display: block;
}
.menu-header >ul >li:nth-child(2){
    width: 138px;
    height: 30px;
    border: 10px solid rgb(138,108,28);
    background: rgb(138,108,28);
    border-radius: 5px;
}
.menu-header ul li:nth-child(3){
    position: relative;
}
.menu-header ul li:nth-child(3) input{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
.menu-header ul li:nth-child(3) i{
    position: absolute;
    font-size: 14px;
    right: 10px;
    line-height: 30px;
    color: gray;
    cursor: pointer;
}
.menu-header ul li:nth-child(4) button{
    height: 30px;
    padding: 0 8px;
    cursor: pointer;
    background-color: rgb(138,108,28);
    color: #fff;
    border: 0px;
    border-radius: 10px;
}
.menu-header >ul >li:nth-child(5) button{
    height: 30px;
    width: auto;
    padding: 0 8px;
    cursor: pointer;
    background-color: rgb(138,108,28);
    color: #fff;
    border: 0px;
    border-radius: 10px;
}
.banner img{
    max-width: 100%;
    height: auto;
    padding-left: 53px;
    padding-right: 53px;
}
    
/* Name product styling */
.nameProduct {
    width: 70%;
    margin: 1rem auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
  }
  
  .nameProduct h1 {
    font-size: 1.5vw;
  }
  
  .nameProduct p {
    color: #a8a8a8;
  }
  
  .nameProduct span {
    color: red;
  }
  
  /* Container for the product */
  .container--product {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Row styling */
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
  
  /* Column styling */
  .col-6 {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Product image styling */
  .imgProduct img {
    width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Product price styling */
  .Product-price {
    font-size: 24px;
    color: red;
    margin-bottom: 20px;
  }
  
  /* Product options styling */
  .chooseProduct,
  .colorProduct {
    margin-bottom: 20px;
  }
  
  .chooseProduct p,
  .colorProduct p {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Select dropdown styling */
  .choose {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Button styling */
  .btnProduct button {
    width: 100%;
    padding: 15px;
    background-color: rgb(198, 154, 57);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    border: 1px solid rgb(198, 154, 57);
  
    margin-top: 0.5rem;
  }
  
  .btnProduct button:hover {
    background-color: white;
    color: #00483d;
  }
  
  /* Installment buttons styling */
  .installment {
    display: flex;
    gap: 10px;
  }
  
  .installment button {
    flex: 1;
    padding: 15px;
    background-color: rgb(94, 131, 219);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 0.5rem;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgb(94, 131, 219);
  }
  
  .installment button:hover {
    background-color: white;
    color: rgb(94, 131, 219);
  }
  .btn--informaition {
    border: 1px solid #00483d;
    background-color: #00483d;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  .btn--informaition:hover {
    background-color: white;
    color: #00483d;
  }
  /* Responsive design */
  @media (max-width: 768px) {
    .col-6 {
      width: 100%;
    }
  
    .installment {
      flex-direction: column;
    }
  }
  * {
    margin: 0%;
    padding: 0;
    font-family: "Roboto", serif;
    box-sizing: border-box;
}

.checkout-container {
    font-size: 14px;
    width: 100%;
    min-height: fit-content;
    padding: 20px 5%;
    background-image: linear-gradient(42deg, #f0bee6, #e1b7dc, #909fc9, #8e9962);
    background-size: cover;
    background-position: center;
    grid-template-areas:
        "navbar"
        "content";
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 5% 95%;
    column-gap: 5px;
    row-gap: 5px;
    color: #313638;
}

.checkout-container .navigation-bar {
    grid-area: navbar;
    color: rgb(219, 219, 219);
}

.checkout-container .navigation-bar .navigate-btn-group {
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: auto;
    gap: 10px;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.40);
}

.checkout-container .navigation-bar .navigate-btn-group a {
    text-decoration: none;
    color: #313638;
    font-size: 14px;
}

.checkout-container .navigation-bar .navigate-btn-group a:hover {
    color: rgb(236, 41, 15);
}

.checkout-content {
    grid-area: content;
    display: grid;
    grid-template-areas:
        "table btn-group";
    grid-template-columns: minmax(200px, 3fr) minmax(400px, 1fr);
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.40);
    padding: 1%;
}

.checkout-tables {
    grid-area: table;
}

.checkout-table th {
    color: #313638;
    font-weight: 400;
    font-size: 16px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.checkout-table img {
    width: 100%;
}

.checkout-table .delete-icon {
    width: 100%;
}


.image {
    width: 10%;
}

.description {
    width: 30%;
}

.price {
    width: 20%;
}

.quantity {
    width: 10%;
}

.sum {
    width: 20%;
}

.delete {
    width: 5%;
}

.checkout-table .product-quantity input {
    width: 50px;
    padding: 6%;
}

.checkout-table .product-quantity input:focus {
    border: none;
    background: #dbd5d5;
    outline: 1px solid #313638;
}


.checkout-table .delete-btn img {
    width: 14px;
    filter: invert(16%) sepia(1%) saturate(4243%) hue-rotate(151deg) brightness(90%) contrast(83%);
}

.checkout-table .delete-btn img:hover {
    filter: invert(25%) sepia(97%) saturate(5359%) hue-rotate(359deg) brightness(98%) contrast(91%);
    cursor: pointer;
    transition: 0.5s;
}

.checkout-table .product-price,
.checkout-table .product-sum {
    font-size: 18px;
    font-weight: 600;
}

.checkout-table {
    text-align: center;
    border-collapse: collapse;
}

.checkout-table tr.border-bottom {
    border-bottom: 1px dotted #b6b6b6;
}


.checkout-btns-group {
    grid-area: btn-group;
    height: 300px;
    display: grid;
    grid-template-areas:
        "sum"
        "btn"
        "input"
        "info";
    grid-template-rows: 1fr 3fr 3fr 3fr;
    row-gap: 20px;
    font-size: 14px;
    color: #313638;
    margin-left: 15px;
}

.checkout-btns-group .sum-group {
    display: grid;
    grid-template-areas: "text value";
    font-size: 16px;
    height: fit-content;
}

.sum-text {
    grid-area: text;

}

.sum-value {
    grid-area: value;
    font-size: 18px;
    text-align: right;
    font-weight: 600;
    color: #313638;
    text-shadow: 2px 1px #0f0f11;
}

.checkout-btns-group .btn-group {
    grid-area: btn;
    display: flex;
    gap: 10px;
}

.checkout-btns-group .btn-group a {
    text-decoration: none;
    width: 50%;
}

.checkout-btns-group .btn-group .btn-homepage {
    width: 100%;
    height: 35px;
    font-size: 14px;
    color: white;
    background-color: #564599;
    border: none;
    border-radius: 25px;
}

.checkout-btns-group .btn-group .btn-homepage:hover {
    transition: 0.5s;
    background-color: #345cb1;
    cursor: pointer;
}

.checkout-btns-group .btn-group .btn-homepage:not(:hover) {
    transition: 0.5s;
}

.checkout-btns-group .btn-group .btn-checkout {
    color: #545fc5;
    height: 35px;
    width: 50%;
    font-size: 14px;
    background-color: white;
    border: 1px solid #483ac9;
    border-radius: 20px;
}

.checkout-btns-group .btn-group .btn-checkout:hover {
    transition: 0.5s;
    color: white;
    background-color: #5f43bc;
    cursor: pointer;
}

.checkout-btns-group .btn-group .btn-checkout:not(:hover) {
    transition: 0.5s;
}

.checkout-btns-group .note-group {
    grid-area: input;
}

.checkout-btns-group .note-group .note-input {
    margin-top: 10px;
    border: 1px solid #ddd;
    width: 100%;
    padding: 1%;
    height: 100%;
    resize: none;
}

.checkout-btns-group .note-group .note-input:focus {
    outline: 1px solid #313638;
}

.checkout-btns-group .note-group .note-input::placeholder {
    color: #cecbcb;
}

.checkout-btns-group .text {
    grid-area: info;
    margin-top: 30px;
}

.text .title {
    font-size: 16px;
    border-bottom: 1px dotted #b6b6b6;
}

.text .info-group {
    margin-top: 10px;
    margin-left: 20px;
}

.text .info {
    margin-top: 10px;
    font-size: 14px;
}

.empty-content {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empty-content .empty-text {
    margin-top: 10px;
    font-size: 14px;
}

.empty-content a {
    text-decoration: none;
}

.empty-content .btn-homepage {
    margin-top: 10px;
    padding: 7px 20px;
    height: 35px;
    font-size: 14px;
    color: white;
    background-color: #5736b1;
    border: none;
    border-radius: 25px;
}

.empty-content .btn-homepage:hover {
    transition: 0.5s;
    background-color: #7860b8;
    cursor: pointer;
}

.empty-content .btn-homepage:not(:hover) {
    transition: 0.5s;
}

.app-container {
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
}

.app-google {
    margin: 50px;
}

.app-google img {
    height: 50px;
    cursor: pointenr;
}

.app-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}

.app-container input {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}

footer {
    text-align: center;
}

.footer-top {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}

.footer-top img {
    height: 50px;
}

.footer-top li {
    padding: 0 12px;
    position: relative;
}

.footer-top li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #cccccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-top li:last-child::after {
    display: none;
}

.footer-top li:last-child a {
    margin-right: 12px;
    color: #333;
}

.footer-center {
    text-align: center;
}

.footer-bottom {
    margin: 20px 0;
    text-align: center;
}

.footer-container {
    color: #313638;
    background-color: rgba(175, 206, 214, 0.184);
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 5%;
}

.row {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.column h2 {
    font-size: 16px;

}

.footer-subtitle {
    margin-top: 50px;
}

.column p {
    font-size: 14px;
    line-height: 25px;
}

.icon-media {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.icon-media img {
    width: 20px;
    margin: 0 5px;
    cursor: pointer;
}

.column .footer-subtext {
    font-size: 14px;
    line-height: 25px;
    margin-top: 7px;
    cursor: pointer;
}

.column .footer-subtext:hover {
    color: rgb(236, 41, 15);
}

.column .footer-subtitle {
    font-size: 16px;
    margin-bottom: 7px;
}

.footer-horizontal-line {
    border: 1px solid rgb(255, 0, 0);
    width: 5em;
}

.footer-title {
    display: flex;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-title img {
    width: 40px;
    margin-right: 10px;
}


.main-menu {
    display: flex; 
    align-items: center; 
    gap: 15px; 
    padding: 0; 
    list-style: none; 
    flex-wrap: wrap;
    padding-left: 55px;
    margin-top: 10px;
    position: relative;
    font-weight: 20;
    font-size: 14px;
    float: left;    
}
.main-menu p{
    font-weight: bold;
    margin-right: 10px;
}
.main-menu li{
    display: inline;
}
.main-menu a{
    text-decoration: none;
    color: rgb(200,163,97);
    font-size: 20px;
}
.main-menu a:hover{
    color: orangered;
}
.item-list{
    padding-left: 55px;
    float: left;
    width: 100%;
}
.item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.item{
    float: left;
    border: 1px solid #ebecec;
    position: relative;
    padding: 10px;
    max-height: 440px;
    overflow: hidden;
    width: 237px;
}
.item-title{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    word-wrap: break-word;
}
.item-price{
    color: #ac0719;
    font-size: 14px;
    font-weight: 700;
}
.item-buy{
    text-decoration: none;
    border-radius: 5px;
    padding: 6px 0;
    width: 100%;
    font-size: 14px;
    background-color: #fa9308;
    display: block;
    text-align: center;
    cursor: pointer;
}
.item-buy a{
    text-decoration: none;
    color: #fff;
}
.item-description > ul > li{
    list-style: none;
    clear: both;
    margin-top: 20px;
    word-wrap: break-word;
}
.item-description > ul  li a {
    color: blue;
    text-decoration: none;
}
:root{
    scroll-behavior: smooth;
}
.scroll-top_link{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgb(198,154,57) url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
    box-shadow: 0 0.25rem 0.5rem 0 gray;
    opacity: 0.7;
}
.scroll-top_link:hover{
    opacity: 0.8;
}
.footer{
    width: 100%;
    float: left;
    padding-left: 55px;
    background-color: #fafafa;
}
.footer .address{
    padding-top: 10px;
    padding-bottom: 5px;
}
.address p{
    font-size: 12px;
}
.footer-item{
    width: 25%;
    float: left;
    padding: 30px 10px 0 0;

}
.footer .title{
    padding: 7px 0;
    font-size: 17px;
    color: #c69a39;
    text-transform: uppercase;
    font-weight: 700;
}
.footer li{
    list-style: none;
}
.policy > a{
    text-decoration: none;
    color: black;
}
.policy > a>li::before{
    content: "â—";
    color: gray;
    font-size: 14px;
    margin-right: 10px;
}
.button{
    width: 55px;
    height: 27px;
    background: #c69a39;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0 0 5px;
}
.mail{
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 3px;
    width: 170px;
    height: 27px;
    padding: 5px;
    font-size: 13px;
}
.social >a{
    text-decoration: none;
    color: black;
    line-height: 23px ;
    
}


