*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    height: 106px;
    width: 100%;
    max-width: 1275px;
    background-color: rgb(198,154,57);
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-header{
    margin: auto;
}
.menu-header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 30px;
}
.menu-header a{
    text-decoration: none;
    font-size: 15px;
}
.menu-header >ul >li > a{
    color: white;
}
.menu-header ul li img{
    width: 250px;
    position: relative;
    right: 10px;
    top: -10px;
}
.menu-header .dropdown {
    position: relative;
}
.menu-header ul ul {
    position: absolute;
    display: none;
    margin: 0;
    left: -10px;
    list-style: none;
    background-color: rgb(138,108,28);
    box-shadow: 0 0 1px gray;
    border-radius: 3px;
    width: 138px;
}
.menu-header ul ul a {
    display: block;
    text-decoration: none;
    font-size: 10px;
    color: white;
    line-height: 30px;
    padding: 5 15px;
}
.menu-header ul ul a:hover {
    background-color: orangered;
    color: white;
}
.menu-header>ul>li:hover > ul {
    display: block;
}
.menu-header >ul >li:nth-child(2){
    width: 138px;
    height: 30px;
    border: 10px solid rgb(138,108,28);
    background: rgb(138,108,28);
    border-radius: 5px;
}
.menu-header ul li:nth-child(3){
    position: relative;
}
.menu-header ul li:nth-child(3) input{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
.menu-header ul li:nth-child(3) i{
    position: absolute;
    font-size: 14px;
    right: 10px;
    line-height: 30px;
    color: gray;
    cursor: pointer;
}
.menu-header ul li:nth-child(4) button{
    height: 30px;
    padding: 0 8px;
    cursor: pointer;
    background-color: rgb(138,108,28);
    color: #fff;
    border: 0px;
    border-radius: 10px;
}
.menu-header >ul >li:nth-child(5) button{
    height: 30px;
    width: auto;
    padding: 0 8px;
    cursor: pointer;
    background-color: rgb(138,108,28);
    color: #fff;
    border: 0px;
    border-radius: 10px;
}
.banner img{
    max-width: 100%;
    height: auto;
    padding-left: 53px;
    padding-right: 53px;
}
.main-menu {
    display: flex; 
    align-items: center; 
    gap: 15px; 
    padding: 0; 
    list-style: none; 
    flex-wrap: wrap;
    padding-left: 55px;
    margin-top: 10px;
    position: relative;
    font-weight: 20;
    font-size: 14px;
    float: left;    
}
.main-menu p{
    font-weight: bold;
    margin-right: 10px;
}
.main-menu li{
    display: inline;
}
.main-menu a{
    text-decoration: none;
    color: rgb(200,163,97);
    font-size: 20px;
}
.main-menu a:hover{
    color: orangered;
}
.item-list{
    padding-left: 55px;
    float: left;
    width: 100%;
}
.item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.item{
    float: left;
    border: 1px solid #ebecec;
    position: relative;
    padding: 10px;
    max-height: 440px;
    overflow: hidden;
    width: 237px;
}
.item-title{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    word-wrap: break-word;
}
.item-price{
    color: #ac0719;
    font-size: 14px;
    font-weight: 700;
}
.item-buy{
    text-decoration: none;
    border-radius: 5px;
    padding: 6px 0;
    width: 100%;
    font-size: 14px;
    background-color: #fa9308;
    display: block;
    text-align: center;
    cursor: pointer;
}
.item-buy a{
    text-decoration: none;
    color: #fff;
}
.item-description > ul > li{
    list-style: none;
    clear: both;
    margin-top: 20px;
    word-wrap: break-word;
}
.item-description > ul  li a {
    color: blue;
    text-decoration: none;
}
:root{
    scroll-behavior: smooth;
}
.scroll-top_link{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgb(198,154,57) url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
    box-shadow: 0 0.25rem 0.5rem 0 gray;
    opacity: 0.7;
}
.scroll-top_link:hover{
    opacity: 0.8;
}
.footer{
    width: 100%;
    float: left;
    padding-left: 55px;
    background-color: #fafafa;
}
.footer .address{
    padding-top: 10px;
    padding-bottom: 5px;
}
.address p{
    font-size: 12px;
}
.footer-item{
    width: 25%;
    float: left;
    padding: 30px 10px 0 0;

}
.footer .title{
    padding: 7px 0;
    font-size: 17px;
    color: #c69a39;
    text-transform: uppercase;
    font-weight: 700;
}
.footer li{
    list-style: none;
}
.policy > a{
    text-decoration: none;
    color: black;
}
.policy > a>li::before{
    content: "â—";
    color: gray;
    font-size: 14px;
    margin-right: 10px;
}
.button{
    width: 55px;
    height: 27px;
    background: #c69a39;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0 0 5px;
}
.mail{
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 3px;
    width: 170px;
    height: 27px;
    padding: 5px;
    font-size: 13px;
}
.social >a{
    text-decoration: none;
    color: black;
    line-height: 23px ;
    
}


